/hello-rust/target
/exercise/target
/excel-file-processor/target
/excel-file-processor/output_csv_files
/excel-file-processor/output_csv_files_old
/excel-file-processor/output_excel_files
/hello_type_values/target
/day_one_control_flow/target


/my_proc_macro/target
/rustlings_exercises/target